@import "./components/header-and-nav/header-and-nav.css";
@import "./components/store/store.css";
@import "./components/clients/clients.css";
@import "./components/license-terms/license-terms.css";
@import "./components/services/services.css";
@import "./components/freebeats/freebeats.css";
@import "./components/contact/contact.css";
@import "./components/footer/footer.css";
@import "./components/cookie-container/cookie-container.css";

:root {
  --white: #fff;
  --black: black;
  --gray: gray;
  --success-color: rgba(0, 128, 28, 0.5);
  --success-color-lighter: #8fbc8f;
  --error-color: #f8a2ac;
  --box-color: #ebebeb;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --link-color: #5a6fbd;
  --link-color-hover: navy;
  --youtube-red: rgb(165, 19, 19);
  --primary-color: #750020;
  --primary-color-darker: #8a0022;
  --primary-color-lighter: #be0048;
  --secondary-color: #2f3640;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -- globals -- */
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background-color: var(--white);
  color: var(--black);
  -webkit-tap-highlight-color: transparent;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.main {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
}

h1 {
  font-size: 2rem;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}

h3,
h4 {
  font-size: 1rem;
}

article p {
  text-align: justify;
}

/* -- img and fontawesome-manipulation -- */
img {
  border: 0;
}

.fa-angle-up,
.fa-angle-left {
  color: var(--black);
}

/* -- use for send and request -- */
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: var(--white);
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 16px;
}

button:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 var(--primary-color),
    0 0 0 3px var(--primary-color-lighter);
}

hr {
  border: 1px dashed #d3d3d3;
}

ul {
  list-style: none;
}

a {
  font-weight: 700;
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: none;
  transition: all 0.5s ease;
}

.grecaptcha-badge {
  visibility: hidden;
}

.message-box-success {
  background-color: var(--success-color-lighter);
  display: block;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

.message-box-error {
  background-color: var(--error-color);
  display: block;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

/* PAGES: */
/* -- imprint styling -- */
.imprint_box h2 {
  font-weight: lighter;
  font-size: 1.5em;
  padding: 0.5em 0 0;
}

.imprint_box {
  text-align: left;
  margin: 1em;
  padding: 0 1em 1em 2em;
}

.imprint_box a {
  font-weight: 400;
}

/* -- privacy policy -- */
#pp {
  text-align: left;
  padding: 0 2em 2em;
}

#pp p {
  text-align: justify;
  padding: 0 1em;
}
