@import "./components/header-and-nav/header-and-nav.css";
@import "./components/store/store.css";
@import "./components/clients/clients.css";
@import "./components/license-terms/license-terms.css";
@import "./components/services/services.css";
@import "./components/freebeats/freebeats.css";
@import "./components/footer/footer.css";

:root {
  --white: #fff;
  --black: black;
  --gray: gray;

  --success-color: rgba(0, 128, 28, 0.5);
  --success-color-lighter: #8fbc8f;

  --error-color: #f8a2ac;

  --box-color: #ebebeb;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --link-color: #5a6fbd;
  --link-color-hover: navy;

  --youtube-red: rgb(165, 19, 19);
  --primary-color: #750020;
  --primary-color-darker: #8a0022;
  --primary-color-lighter: #be0048;
  --secondary-color: #2f3640;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -- globals -- */
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background-color: var(--white);
  color: var(--black);
  -webkit-tap-highlight-color: transparent;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
}

.main {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
  width: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3,
h4 {
  font-size: 1rem;
}

article p {
  text-align: justify;
}

/* -- img and fA-img --*/
img {
  border: 0;
}

.fa-angle-up,
.fa-angle-left {
  color: var(--black);
}

/* -- use for send and request -- */
button {
  background-color: var(--gray);
  color: var(--white);
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  width: fit-content;
}

button:hover {
  background-color: var(--secondary-color);
  transition: 0.5s ease 0.2s;
}

hr {
  border: 1px dashed #d3d3d3;
}

ul {
  list-style: none;
}

a {
  font-weight: 700;
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: none;
  transition: all 0.5s ease;
}

/* -- faqs -- */
/* tbd */

/* -- request & contact form -- */
.contact {
  padding: 1rem;
}

#contabel div {
  display: inline-block;
  text-align: left;
}

textarea {
  display: inline-block;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.1em;
  resize: none;
  background: 0 0;
  border: 0.1em solid var(--black);
  color: var(--black);
  height: auto;
  width: auto;
  margin: 1em;
  padding: 1em;
}

textarea:focus {
  outline: 0;
}

input {
  font-size: 1em;
  background: 0 0;
  border: 0;
  border-bottom: 0.1em solid var(--black);
  border-radius: 0;
  color: var(--black);
  outline: 0;
  margin: 1em;
  padding: 0.3em;
}

.message-box-success {
  background-color: var(--success-color-lighter);
  display: block;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

.message-box-error {
  background-color: var(--error-color);
  display: block;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

/* -- imprint styling -- */
.imprint_box h2 {
  font-weight: lighter;
  font-size: 1.5em;
  padding: 0.5em 0 0;
}

.imprint_box {
  text-align: left;
  margin: 1em;
  padding: 0 1em 1em 2em;
}

.imprint_box a {
  font-weight: 400;
}

/* -- cookie-container & recaptcha-- */
.grecaptcha-badge {
  visibility: hidden;
}

.cookie-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: var(--secondary-color);
  color: var(--white);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.cookie-container a {
  font-weight: lighter;
  color: var(--white);
}

.cookie-container__recaptcha-text {
  font-size: 0.7rem;
}

.cookie-container__button {
  background: var(--primary-color-darker);
  color: var(--box-color);
  border-radius: 5px;
  cursor: pointer;
}
