:root {
  --white: #fff;
  --black: #000;
  --gray: gray;

  --success-color: rgba(0, 128, 28, 0.5);
  --success-color-lighter: #8fbc8f;

  --error-color: #f8a2ac;

  --box-color: #ebebeb;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --link-color: #5a6fbd;
  --link-color-hover: #5a6fbd;

  --youtube-red: rgb(165, 19, 19);
  --primary-color: #750020;
  --primary-color-darker: #8a0022;
  --primary-color-lighter: #be0048;
  --secondary-color: #2f3640;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -- globals -- */
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background-color: var(--white);
  color: var(--black);
  -webkit-tap-highlight-color: transparent;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
}

.main {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
  width: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3,
h4 {
  font-size: 1rem;
}

article p {
  text-align: justify;
}

/* -- img and fA-img --*/
img {
  border: 0;
}

.fa-angle-up {
  color: var(--black);
}

/* -- used for send and request -- */
button {
  background-color: var(--gray);
  color: var(--white);
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  width: fit-content;
}

button:hover {
  background-color: var(--secondary-color);
  transition: 0.5s ease 0.2s;
}

hr {
  border: 1px dashed #d3d3d3;
}

ul {
  list-style: none;
}

a {
  font-weight: 700;
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: none;
  transition: all 0.5s ease;
}

/* -- menu icon and bars -- */
.menue-bar-container {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: var(--secondary-color);
  padding: 0.3em 0 0.3em 1em;
}

.menue-bar-container__bar1,
.menue-bar-container__bar2,
.menue-bar-container__bar3 {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--white);
  transition: all 0.5s ease;
  margin: 0.3rem 0;
}

.toggle .menue-bar-container__bar1 {
  -webkit-transform: rotate(-15deg) translate(-9px, 6px);
  transform: rotate(-15deg) translate(-9px, 6px);
  background-color: var(--primary-color-darker);
}

.toggle .menue-bar-container__bar2 {
  opacity: 0;
}

.toggle .menue-bar-container__bar3 {
  -webkit-transform: rotate(15deg) translate(-7px, -7px);
  transform: rotate(15deg) translate(-7px, -7px);
  background-color: var(--primary-color-lighter);
}

@media (max-width: 768px) {
  .menue-bar-container {
    display: inline-block;
  }
}

/* -- flags -- */
.flags-container {
  top: 0.5rem;
  right: 1rem;
  position: fixed;
  display: flex;
  gap: 0.5rem;
  z-index: 3;
}

.flags-container__image {
  height: 1.5rem;
  width: 1.5rem;
}

/* -- navigation -- */
nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__item {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--white);
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.nav__item,
.nav__item:after,
.nav__item:before {
  transition: all 0.5s;
}

.nav__item:hover {
  color: var(--white);
}

.nav__item:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: var(--primary-color);
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.nav__item:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

@media (max-width: 1023px) {
  .nav {
    margin-top: 2em;
    flex-direction: column;
  }
}

/* -- header -- */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--black);
  color: var(--white);
}

.header__image {
  margin-top: 2.4rem;
  width: 100%;
  filter: saturate(110%) contrast(130%) brightness(80%);
}

.header__slogan {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--white);
}

@media (max-width: 768px) {
  .header__slogan {
    font-size: 1rem;
  }
}

/* -- store -- */
#Instrumental-Store {
  background-color: var(--black);
  color: var(--white);
}

.store {
  padding: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}

.store__player {
  width: 100%;
  height: 70vh;
  border: none;
}

/* -- payment-methods --*/
.store__payment-methods {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 0.5rem;
}

.store__payment-methods__icon {
  height: 19px;
  width: 33px;
  margin-right: 0.5rem;
}

/* -- spotify -- */
.spotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.spotify__text {
  color: var(--white);
}

.spotify__link {
  background-color: #1e7e3f;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  animation: pump 1s linear 1s infinite alternate;
}

@keyframes pump {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* -- client-section -- */
.carousel {
  position: relative;
}

.carousel-cell img {
  position: absolute;
  top: -4px;
  right: 0;
  width: 30px;
  height: 30px;
}

.carousel-cell {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
  height: auto;
  margin: 1rem;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  padding: 1rem;
}

.flickity-prev-next-button.previous {
  left: 20px;
}

.flickity-prev-next-button.next {
  right: 20px;
}

.icon_refer a {
  color: var(--gray);
}

.flickity-prev-next-button.previous:focus,
.flickity-prev-next-button.next:focus {
  background-color: var(--gray);
}

.flickity-button,
.flickity-prev-next-button:hover {
  background: var(--gray);
}

.flickity-page-dots,
.is-hidden {
  display: none;
}

/* -- license-terms -- */
.license-terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.license-terms__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.license-terms__description__text {
  text-align: justify;
}

.license-terms-contracts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.license-terms-contracts__wav-leasing,
.license-terms-contracts__premium-leasing,
.license-terms-contracts__unlimited-leasing,
.license-terms-contracts__exclusive {
  width: 17rem;
  margin: 1rem auto;
}

.license-terms-contracts table {
  display: flex;
  text-align: left;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  padding: 5px;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .license-terms-contracts table {
    display: none;
  }
}

.license-terms-contracts table tr td {
  padding: 5px;
}

.fa-times {
  color: red;
}

.fa-check {
  color: green;
}

.popular {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 5px;
  margin: 5px 0;
}

.popular img {
  width: 20px;
  height: 20px;
}

.license-terms-contracts h2 {
  color: var(--white);
  background-color: #8a0022;
  border-bottom: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: var(--box-shadow);
}

.license-terms-contracts h3 {
  color: var(--white);
  text-align: center;
  background-color: var(--secondary-color);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.license-terms-contracts h3:hover {
  cursor: pointer;
}

/* todo: find better naming */
.option-heading:before {
  content: "\25b6";
  margin-right: 10px;
}

/* todo: find better naming */
.option-heading.is-active:before {
  content: "\25bc";
  margin-right: 10px;
}

/* pdf-container */
.license-terms-contracts__pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--box-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.license-terms-contracts__pdf-container a {
  font-size: 0.9em;
  font-weight: lighter;
  color: var(--white);
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem;
}

.license-terms-contracts__pdf-container a:hover {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  color: var(--black);
  transition: all 0.5s ease;
}

.license-terms-contracts__pdf-container img {
  width: 50px;
  height: 50px;
}

/* -- services -- */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.services__custom-beats,
.services__commercial-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 45%;
}

@media (max-width: 768px) {
  .services__custom-beats,
  .services__commercial-videos {
    width: 100%;
  }
}

.services__custom-beats img,
.services__commercial-videos img {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
}

/* -- freebeats -- */
.freebeats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.freebeats__lost-beats,
.freebeats__kriyptunes-vol-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 45%;
}

@media (max-width: 768px) {
  .freebeats__lost-beats,
  .freebeats__kriyptunes-vol-1 {
    width: 100%;
  }
}

.freebeats__lost-beats img,
.freebeats__kriyptunes-vol-1 img {
  scale: 75%;
}

.freebeats__lost-beats__playlist-button {
  display: inline-block;
  background-color: var(--youtube-red);
  color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 1rem;
}

.freebeats__lost-beats__playlist-button:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

/* -- faqs -- */
#faqs {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: auto;
}

#faqs .margin {
  margin-bottom: 0.5em;
}

dt {
  display: inline-block;
  width: 95%;
  background-color: var(--box-color);
  border: 1px var(--secondary-color) solid;
  margin: 0.5em;
  padding: 0.7em;
}

dd {
  text-align: justify;
  display: none;
  width: 80%;
  padding: 0.5em 1em 0.3em 3em;
}

dt a {
  color: var(--black);
  transition: all 0.5s ease;
}

#pp {
  text-align: left;
  padding: 0 2em 2em;
}

#pp p {
  text-align: justify;
  padding: 0 1em;
}

/* -- contact -- */
.contact {
  padding: 1rem;
}

#contabel div {
  display: inline-block;
  text-align: left;
}

textarea {
  display: inline-block;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.1em;
  resize: none;
  background: 0 0;
  border: 0.1em solid var(--black);
  color: var(--black);
  height: auto;
  width: auto;
  margin: 1em;
  padding: 1em;
}

textarea:focus {
  outline: 0;
}

input {
  font-size: 1em;
  background: 0 0;
  border: 0;
  border-bottom: 0.1em solid var(--black);
  border-radius: 0;
  color: var(--black);
  outline: 0;
  margin: 1em;
  padding: 0.3em;
}

.subscribe_box {
  font-size: 1em;
  margin: 0 1em 0 1em;
}

.news {
  display: inline-block;
  border: var(--success-color) 3px solid;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

.message-box {
  background-color: var(--success-color-lighter);
  display: block;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

.message-box-error {
  background-color: var(--error-color);
  display: block;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

footer {
  background-color: var(--secondary-color);
  vertical-align: center;
  color: var(--white);
  text-align: left;
  width: 100%;
  padding: 0.5em;
}

#dfooter1,
#dfooter2,
#dfooter3 {
  display: inline-block;
  vertical-align: top;
  height: auto;
  text-align: left;
}

footer div ul {
  text-align: left;
  margin: 1em 0.5em;
  padding: 0.5em;
}

footer div ul li {
  list-style: none;
  font-size: 0.7em;
  padding: 0.3em;
}

footer div ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: lighter;
}

footer div ul li a:hover {
  text-decoration: none;
  color: var(--gray);
  transition: all 0.5s ease;
}

footer div ul li a img {
  width: 30px;
  height: 30px;
  padding: 0.1em;
}

#dfooter3 ul li {
  display: inline-block;
}

#up img {
  height: 25px;
  width: 25px;
}

.imprint_box h2 {
  font-weight: lighter;
  font-size: 1.5em;
  padding: 0.5em 0 0;
}

.imprint_box {
  text-align: left;
  margin: 1em;
  padding: 0 1em 1em 2em;
}

.imprint_box a {
  font-weight: 400;
}

.icon_refer {
  font-size: 0.8em;
  color: var(--gray);
}

dt a:hover {
  color: var(--black);
}

input:focus,
input::selection {
  box-shadow: none;
}

:invalid {
  box-shadow: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: var(--secondary-color);
  color: var(--white);
  transition: 400ms;
  padding: 0 32px;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  font-weight: lighter;
  color: var(--white);
}

.cookie-btn {
  background: var(--primary-color-darker);
  border: 0;
  color: var(--box-color);
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 48px;
}

@media (max-width: 768px) {
  #absendernameid,
  #absenderemailid,
  #nachrichtid,
  #nameid,
  #artistpage,
  #emailid {
    width: 90%;
  }
}

@media (min-width: 1023px) {
  dt {
    width: 80%;
  }

  dd {
    width: 90%;
  }
}
