#FAQ {
  text-align: left;
  padding: 1rem;
}

#FAQ h1 {
  text-align: center;
}

.accordion__item {
  margin: 1rem;
}

.accordion__item-title {
  padding: 1rem;
  background-color: var(--box-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.accordion__item-content {
  padding: 1rem;
}
