:root {
  --text-color: white;
  --background-color: #343035;
  --primary-color: #750020;
  --primary-color-darker: #8a0022;
  --primary-color-lighter: #be0048;
  --secondary-color: #2f3640;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: var(--background-color);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main {
  max-width: 500px;
}

ul li {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.header__img {
  width: 125px;
  border-radius: 50%;
  position: relative;
}

.header__text {
  position: absolute;
  top: 7rem;
  background-color: var(--secondary-color);
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.tree__branches {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.tree__branch {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  padding: 7px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.tree__branch:hover {
  background-color: var(--secondary-color);
}

.footer__items {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 0.7rem;
  color: darkgrey;
  margin-bottom: 1rem;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(3deg);
  }
  95% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wiggle {
  animation: wiggle 2s infinite;
}

.wiggle:hover {
  animation: none;
}
