/* -- cookie-container -- */
.cookie-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: var(--secondary-color);
  color: var(--white);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.cookie-container a {
  font-weight: lighter;
  color: var(--white);
}

.cookie-container__recaptcha-text {
  font-size: 0.7rem;
}

.cookie-container__button {
  background: var(--primary-color-darker);
  color: var(--box-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}
