.socials {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.socials li a {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.socials .fab {
  font-size: 4rem;
  padding: 1rem;
}

/* -- transition for social icon hover animation -- */
.facebook-fa,
.x-fa,
.tiktok-fa,
.youtube-fa,
.instagram-fa {
  transition: 0.5s;
  cursor: pointer;
}

/* -- social media icons hover color -- */
.facebook-fa:hover,
.facebook-fa:focus {
  transform: scale(1.1);
}

.tiktok-fa:hover,
.tiktok-fa:focus {
  transform: scale(1.1);
}

.x-fa:hover,
.x-fa:focus {
  transform: scale(1.1);
}

.youtube-fa:hover,
.youtube-fa:focus {
  transform: scale(1.1);
}

.instagram-fa:hover,
.instagram-fa:focus {
  transform: scale(1.1);
}
