/* -- license-terms -- */
.license-terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.license-terms__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.license-terms__description__text {
  text-align: justify;
}

.license-terms-contracts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.license-terms-contracts__wav-leasing,
.license-terms-contracts__premium-leasing,
.license-terms-contracts__unlimited-leasing,
.license-terms-contracts__exclusive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 18rem;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .license-terms-contracts div {
    width: 100%;
  }
}

.popular {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 5px;
}

.popular img {
  width: 20px;
  height: 20px;
}

.license-terms-contracts table {
  display: block;
  text-align: left;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .license-terms-contracts table {
    display: none;
  }
}

.popular {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 5px;
}

.popular img {
  width: 20px;
  height: 20px;
}

.license-terms-contracts table tr td {
  padding: 5px;
}

.fa-times {
  color: red;
}

.fa-check {
  color: green;
}

.license-terms-contracts h2 {
  color: var(--white);
  background-color: var(--secondary-color);
  border-bottom: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: var(--box-shadow);
}

/* -- h3 button -- */
.license-terms-contracts h3 {
  color: var(--white);
  text-align: center;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.license-terms-contracts h3:hover {
  cursor: pointer;
}

.license-terms-contracts div h3 {
  position: relative;
}

.fa-angle-down {
  font-size: 1.5rem;
  position: absolute;
  top: 12px;
  right: 15px;
}

@media (min-width: 768px) {
  .license-terms-contracts div h3 i {
    visibility: hidden;
  }
}

/* -- pdf-container -- */
.license-terms-contracts__pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--box-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.license-terms-contracts__pdf-container a {
  font-size: 0.9em;
  font-weight: lighter;
  color: var(--white);
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem;
}

.license-terms-contracts__pdf-container a:hover {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  color: var(--black);
  transition: all 0.5s ease;
}

.license-terms-contracts__pdf-container img {
  width: 50px;
  height: 50px;
}
