/* -- contact form -- */
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.contact__form-container {
  width: 100%;
  max-width: 390px;
}

.contact__form-container__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

textarea {
  display: inline-block;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  resize: none;
  border: 2px solid var(--secondary-color);
  color: var(--black);
  height: auto;
  width: 100%;
  padding: 5px;
}

textarea:focus {
  outline: 0;
}
